<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connect" connectionString="Data Source=NXT-ADMIN1;Initial Catalog=CreditCard_ASP;Persist Security Info=True;User ID=sa;Password=Nxt"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  
  <appSettings>
    
    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="keerthismtp@gmail.com"/>
    <add key="Password" value="Keerthi@123"/>
    <add key="Port" value="587"/>
    
    
    <add key="SmsUserName" value="nxtlogic@gmail.com"/>
    <add key="SmsPassword" value="Nxtlogic123"/>
    <add key="SmsSenderIDPromotional" value="PROMOTIONAL"/>
    <add key="SmsSenderID" value="NXTLGC"/>
    <add key="SmsRoutePro" value="P"/>
    <add key="SmsRouteTran" value="T"/>
    <add key="SmsBegin" value="http://smsc.xcodefix.in/httpapi/send?username="/>
    <add key="SmsSecond" value="&amp;password="/>
    <add key="SmsThird" value="&amp;sender_id="/>
    <add key="SmsFouth" value="&amp;route="/>
    <add key="SmsFifth" value="&amp;phonenumber="/>
    <add key="SmsLast" value="&amp;message="/>
    <add key="SmsGetCredits" value=" http://smsc.xcodefix.in/httpapi/send?username=nxtlogic@gmail.com&amp;password=Nxtlogic123;sender_id=PROMOTIONAL;route=P;phonenumber=9894694339;message=PROMOTIONAL"/>




  </appSettings>
</configuration>